<h1 class="phpdocumentor-title">
    <a href="{{ path('/') }}" class="phpdocumentor-title__link">
        <svg width="46" height="24" viewBox="0 0 361 191" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
            <g transform="matrix(1,0,0,1,-306.8,-59.5694)">
                <path d="M569.3,59.8C569.3,59.8 519.6,57.7 495.1,99.1L438.3,186.5C438.3,186.5 434.3,193.2 429.3,197C424.5,200.7 415.9,204.4 402.7,204.4C381.3,204.4 363.1,190.4 359.5,171.4L420.5,171.4C422.33,171.404 424.036,170.456 425,168.9L469.4,100.5C470.462,98.805 470.538,96.666 469.6,94.9C447.9,57.2 400.2,59.6 400.2,59.6C347.2,59.6 306.8,99.3 306.8,154.1C306.8,209.9 348.9,249.6 403,249.6L404.4,249.6C405.6,249.6 406.8,249.5 408,249.4C420.3,248.3 452.5,243.2 471.4,217.8L535.3,119.9L536.2,118.6C540.1,112.6 550.8,102.9 569.2,102.9C596.2,102.9 619.1,126.4 619.1,154.5C619.1,182.6 596.3,206.5 569.2,206.5C562.096,206.284 555.142,204.399 548.9,201C540.6,196.5 531.9,188.9 524.7,178.5C524.404,178.017 523.877,177.722 523.31,177.722C522.986,177.722 522.669,177.819 522.4,178C522.187,178.113 522.013,178.287 521.9,178.5L499.7,212.7C498.714,214.24 498.794,216.244 499.9,217.7C525.4,251.4 568.8,249.7 569.1,249.7C622.8,249.7 667.8,206.2 667.8,154.5C667.8,102.8 623.1,59.8 569.3,59.8ZM402.5,103C423.2,103 439.1,116.5 443,134.6L359.7,134.6C362.8,115.5 382.1,103 402.5,103Z" style="fill-rule:nonzero;"/>
            </g>
        </svg>
        {{ project.name }}
    </a>
</h1>