@use '/scss/globals';
@use '/scss/extenders/container';

@mixin render {
	.:BLOCK_SLUG__outer-wrapper,
	.wp-block-acf-:BLOCK_SLUG {
		background-color: white;
		color: black;

		& * {
			color: inherit;
		}
	}

	.:BLOCK_SLUG__outer-wrapper {
		@extend %container__outer-wrapper;
	}

	.:BLOCK_SLUG__wrapper {
		@extend %container__wrapper;
	}

	.:BLOCK_SLUG__inner {
		@extend %container__inner;
	}
}
