@use '/scss/globals';
@use '/scss/extenders/container';
@use '/scss/mixins/integrated-buttons';

@mixin render {
	.table__outer-wrapper,
	.wp-block-acf-table {
		& * {
			color: inherit;
		}
	}

	.table__outer-wrapper {
		@extend %container__outer-wrapper;
	}

	.table__wrapper {
		@extend %container__wrapper;
	}

	.table__inner {
		@extend %container__inner;
	}

	.table__sections {
		display: grid;
		gap: globals.$space-vertical globals.$space-horizontal;
		grid-template-columns: 1fr;
	}

	.table__outer-wrapper .table__section--device-visibility-desktop-only {
		display: none;

		@media only screen and (min-width: globals.$breakpoint-large) {
			display: block;
		}
	}

	.table__outer-wrapper .table__section--device-visibility-mobile-only {
		@media only screen and (min-width: globals.$breakpoint-large) {
			display: none;
		}
	}

	.table__table.block-editor-block-list__layout {
		display: table;

		.wp-block-acf-table-table-row {
			display: table-row-group;
		}

		.table__table-row {
			display: table-row;
		}

		.wp-block-acf-table-table-row-cell {
			display: table-cell;
			vertical-align: top;
		}
	}

	.table__section--table {
		overflow: auto;
	}

	.table__table-outer-wrapper {
		width: max-content;
		min-width: 100%;
		overflow: hidden;
	}

	.table__table {
		min-width: 100%;
		border-collapse: collapse;
	}

	.table__table-cell {
		vertical-align: top;
		padding: 0;
	}

	.table__table-row {
		.table__table-cell {
			&:first-child {
				.table__table-cell-content {
					justify-content: flex-start;
				}
			}
		}
	}

	.table__table-cell-content-outer,
	.wp-block-acf-table-table-row-cell-cell-content {
		width: min-content;
		min-width: 100%;
	}

	.table__table-cell-content {
		display: flex;
	}

	.table__table-cell-content-inner {
		width: 100%;
		padding: globals.$space-vertical globals.$space-horizontal 0;
	}
}
