@mixin render {
	.mobile-menu__menu-wrapper {
		overflow: hidden;

		& > ul {
			min-height: calc(var(--height-of-tallest-sub-menu) * 1px);
			transform: translate(calc(var(--active-menu-level) * -100%), 0);
			transition: transform 0.3s;
		}

		ul {
			display: flex;
			flex-direction: column;
			position: relative;
			width: 100%;
			margin: 0;
			padding: 0;
			list-style-type: none;

			& > li {
				margin: 0;
				padding: 0;

				& > ul {
					position: absolute;
					top: 0;
					left: 100%;
					width: 100%;
					z-index: 10;
					opacity: 1;

					&[hidden] {
						display: flex;
						z-index: -1;
						opacity: 0;
						transition: opacity 0s linear 0.3s;
					}
				}

				& > a,
				& > button {
					&:not([inert]) {
						cursor: pointer;
					}
				}
			}
		}
	}
}